.tabpage
{
    border-left:1px solid #FFB951; 
	border-top:1px solid #FFB951;
	border-bottom:1px solid #FFB951; 
	border-right:1px solid #FFB951;
	background-color:#FFFFFF;
}

body,td,th 
{
	font-size: 12px;
	font: 12px tahoma,verdana;
}

.tabTitleFoucs_l
{
    background : url(tabtitlefoucs.gif); background-position:left bottom; height:21px; width:12px;
}
.tabTitleFoucs_m
{
    background : url(tabtitlefoucs_bg.gif); 
    color: #2F79C1;	 font-weight:bold;
    cursor:default;
    text-indent:5px;
    padding-left:0px;
    font-size:12px;
}
.tabTitleFoucs_r
{
    background : url(tabtitlefoucs.gif); background-position:right bottom; height:21px; width:10px;
}

.tabTitleUnFoucs_l
{
    background : url(tabtitleunfoucs.gif); background-position:left bottom; height:21px; width:12px;
}
.tabTitleUnFoucs_m
{
    background : url(tabtitleunfoucs_bg.gif); 
    cursor:pointer;
    text-indent:5px;
    padding-right:0px;
    color: #000000;
    font-size:12px;
}
.tabTitleUnFoucs_r
{
    background : url(tabtitleunfoucs.gif); background-position:right bottom; height:21px; width:10px;
}


.ContextMenu
{
	visibility:hidden;
	border-left:1px solid #7E7E81; 
	border-top:1px solid #7E7E81;
	border-bottom:1px solid #7E7E81; 
	border-right:1px solid #7E7E81;
	background:#FFFF80; 
	padding:0px; overflow:hidden; 
	position:absolute; left:1px; 
    cursor:pointer;
}


.rightMenuItem1
{
    background : url(icon1.gif) no-repeat; background-position:left; height:18px; width:70px;
    padding-left:26px;
	color:#1F336B;
}
.rightMenuItem2
{
    background : url(icon2.gif) no-repeat; background-position:left; height:18px; 
    padding-left:26px;
    color:#1F336B;
}
.rightMenuItem3
{
    background : url(icon3.gif) no-repeat; background-position:left; height:18px; 
    padding-left:26px;
    color:#1F336B;
}